<section id="content" style="margin-bottom: 0px;">
  <div class="content-wrap">
  	<div class="container clearfix">
			<div class="col_full clearfix">

				<h3>3 Columns</h3>

				<div class="masonry-thumbs col-3" data-big="2" data-lightbox="gallery" style="margin-right: -1px; position: relative; height: 855.702px;">
					<a href="images/1.jpg" data-lightbox="gallery-item" style="width: 380px; position: absolute; left: 0px; top: 0px;"><img class="image_fade" src="images/1.jpg" alt="Gallery Thumb 1" style="opacity: 1;"></a>
					<a href="images/2.jpg" data-lightbox="gallery-item" style="width: 760px; position: absolute; left: 380px; top: 0px;"><img class="image_fade" src="images/2.jpg" alt="Gallery Thumb 2" style="opacity: 1;"></a>
					<a href="images/3.jpg" data-lightbox="gallery-item" style="width: 380px; position: absolute; left: 0px; top: 285px;"><img class="image_fade" src="images/3.jpg" alt="Gallery Thumb 3" style="opacity: 1;"></a>
					<a href="images/4.jpg" data-lightbox="gallery-item" style="width: 380px; position: absolute; left: 380px; top: 570px;"><img class="image_fade" src="images/4.jpg" alt="Gallery Thumb 4"></a>
					<a href="images/5.jpg" data-lightbox="gallery-item" style="width: 380px; position: absolute; left: 760px; top: 570px;"><img class="image_fade" src="images/5.jpg" alt="Gallery Thumb 5"></a>
					<a href="images/1.jpg" data-lightbox="gallery-item" style="width: 380px; position: absolute; left: 0px; top: 570px;"><img class="image_fade" src="images/1.jpg" alt="Gallery Thumb 6"></a>
				</div>

			</div>
		</div>
	</div>
</section>