<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Welcome to Elyxx</h1>
                    <p>Imagine having access to a vast collection of the most Dynamic, Vibrant Digital Art from around the world. Imagine creating your own daily show of Artistic Power. Streaming from our Databases to your Hi-Def displays. ANYWHERE, ANYTIME. Enter our Gallery to begin the Possibilities.</p>
                    <a href="#" class="btn btn-common">more..</a>
                </div>

            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/images/Full/1.jpg" alt="">
                    </div>
                    <h2>|| CLICK HERE ||</h2>
                    <!-- <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p> -->
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="/images/Full/2.jpg" alt="">
                    </div>
                    <h2>|| BETTER IDEA ||</h2>
                    <!-- <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p> -->
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/Full/3.jpg" alt="">
                    </div>
                    <h2>|| OH MY ||</h2>
                    <!-- <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
    <div class="vertical-center">
         <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">EXXPERRIENCE </h1>
                        <p>Experience our Digital Art and Stream it to the Screens.</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="<%= arts_path %>" class="btn btn-common">ELYXX</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->