<section id="slider" class="boxed-slider">
	<div class="container clearfix">
		<%= render "shared/error_messages" %>
		
		<div class="home-page-title">
			<h1>EXXPERIENCE</h1>
			<%= link_to "ELYXX", arts_path, class: "my-link" %>
		</div>
	</div>
</section>
<section id="content" style="margin-bottom: 0px;">
	<br /><br /><br /><br /><br />
</section>