<section id="page-title">
	<div class="container clearfix">
		<h1><%= @category.name %></h1>
		<span>What will you display?</span>
	</div>
	<div class="page-title-border"></div>
</section>

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="row">
				<div class="col-md-3">
					<article class="portfolio-item pf-illustrations">
						<div class="portfolio-image">
							<a href="#">
								<img src="/images/800550/1.jpg" alt="Locked Steel Gate">
							</a>
						</div>
						<div class="portfolio-desc center">
							
							<h3><a href="#">Image Description</a></h3>
							<%= link_to "Display", "#", class: "button button-xlarge button-rounded" %>
							<!--  <span><a href="#">Illustrations</a></span> -->
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>