.page-title-border {
    border-bottom: 2px solid #3a5795;
    margin-top: 10px;
}

.white-background{
	background: white;
}

.no-margin{
	margin: 0 0 0 0 !important;
}

.shadow{
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-stripe{
	background: #3a5795 !important;
	color: #fff !important;
}

.pad-5px{
	padding: 5px;
}