<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">EXXPERIENCE</h1>
                       <!-- <p>Be Creative</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% image_name = case params[:id]
                when "1"
                  "|| CLICK HERE ||"
                when "2"
                  "|| CAN'T LOOSE ||"
                when "3"
                  "|| BETTER IDEA ||"
                when "4"
                  "|| OH MY!! ||"
                when "5"
                  "|| LAST AND BEST ||"
                when "6"
                  "|| CLICK HERE ||"
                  end %>
<section id="portfolio-information" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <%= image_tag "/images/Full/#{params[:id]}.jpg", class: "img-responsive", alt: "" %>
            </div>
            <div class="col-sm-6">
                <div class="project-name overflow">
                    <h2 class="bold"><%= image_name %> </h2>
                    <!-- <ul class="nav navbar-nav navbar-default">
                        <li><a href="#"><i class="fa fa-clock-o"></i>May 29,2014</a></li>
                    </ul> -->
                </div>
                <div class="project-info overflow">
                    <!-- <h3>UEFA Champions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p> -->
                    <p><a href="#" class="btn btn-common castme">PROJECT TO SCREEN</a></p>
                </div>


            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
	var session = null;
var image_name = null;

$(document).ready(function(){
  var loadCastInterval = setInterval(function(){
    if (chrome.cast.isAvailable) {
      console.log('Cast has loaded.');
      clearInterval(loadCastInterval);
      initializeCastApi();
    } else {
      console.log('Unavailable');
    }
  }, 1000);
});

function initializeCastApi() {
  var applicationID = chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID;
  var sessionRequest = new chrome.cast.SessionRequest(applicationID);
  var apiConfig = new chrome.cast.ApiConfig(sessionRequest,sessionListener,receiverListener);
  chrome.cast.initialize(apiConfig, onInitSuccess, onInitError);
};

function sessionListener(e) {
  session = e;
  console.log('New session');
  if (session.media.length != 0) {
    console.log('Found ' + session.media.length + ' sessions.');
  }
}

function receiverListener(e) {
  if( e === 'available' ) {
    console.log("Chromecast was found on the network.");
  }
  else {
    console.log("There are no Chromecasts available.");
  }
}

function onInitSuccess() {
  console.log("Initialization succeeded");
}

function onInitError() {
  console.log("Initialization failed");
}

$('.castme').click(function(){
  image_name = <%= params[:id] %>
  launchApp();
});

function launchApp() {
  console.log("Launching the Chromecast App...");
  chrome.cast.requestSession(onRequestSessionSuccess, onLaunchError);
}

function onRequestSessionSuccess(e) {
  console.log("Successfully created session: " + e.sessionId);
  session = e;
}

function onLaunchError() {
  console.log("Error connecting to the Chromecast.");
}

function onRequestSessionSuccess(e) {
  console.log("Successfully created session: " + e.sessionId);
  session = e;
  loadMedia();
}

function loadMedia() {
  if (!session) {
    console.log("No session.");
    return;
  }
  var mediaInfo = new chrome.cast.media.MediaInfo('http://mvp.elyxx.com/images/Full/'+image_name+'.jpg');
  mediaInfo.contentType = 'image/jpg';
  
  var request = new chrome.cast.media.LoadRequest(mediaInfo);
  request.autoplay = true;

  session.loadMedia(request, onLoadSuccess, onLoadError);
}

function onLoadSuccess() {
  console.log('Successfully loaded image.');
}

function onLoadError() {
  console.log('Failed to load image.');
}

</script>