 <footer id="footer">
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Elyxx 2016. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="#">GryFalcon</a></p>
                    </div>
                </div>
        <div></div>
    </footer>