<footer id="footer" class="no-margin footer-custom">

	<!-- <div class="container"> -->

		<!-- Footer Widgets
		============================================= -->
		<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="center">
				Copyrights &copy; 2016 All Rights Reserved by ELYXX.<br>
				<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
			</div>

		</div>

	</div><!-- #copyrights end -->
	<!-- </div> -->

</footer>